.listStail{
    list-style: none;
    display: flex;
    align-items: center;
}

.status{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.available {
    background-color: green;
}

.notAvailable {
    background-color: red;
}